In [154]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass

### Importo mi csv de frases de películas y el contexto en el que estas fueron dichas

In [155]:
df_movies = pd.read_csv("../data/Catchphrase.csv",encoding = "ISO-8859-1")

In [156]:
df_movies

,Catchphrase,Movie Name,Context
0,"Beetlejuice, Beetlejuice, Beetlejuice!",BEETLEJUICE,"Lydia, summoning Beetlejuice"
1,It's showtime!,BEETLEJUICE,"Beetlejuice, being summoned."
2,They're heeeere!,POLTERGEIST,"Carol Anne Freeling, notifying her parents of..."
3,Hey you guys!,THE GOONIES,"Sloth, calling the attention of the children ..."
4,"Good morning, Vietnam!","GOOD MORNING, VIETNAM",Adrian Cronauer's greeting on his radio show
...,...,...,...
145,Hasta la vista...baby.,TERMINATOR 2: JUDGMENT DAY,"The Terminator, to T-1000, before shattering ..."
146,"That'll do, Pig.",BABE,"Farmer Hogget, to his sheep-pig, Babe, after ..."
147,"It's over, Johnny.",FIRST BLOOD,"Col. Trautman, to John Rambo, telling him his..."
148,"After all, tomorrow is another day.",GONE WITH THE WIND,"Scarlett O'Hara to herself, convinced she can..."
149,"In case I don't see ya...good afternoon, good ...",THE TRUMAN SHOW,"Truman Burbank, saying his final goodbye befo..."

### Limpio mi csv

In [157]:
df_movies.dropna(how="all", inplace=True) #no hay ningún NAN

In [158]:
df_movies.shape

(150, 3)

In [159]:
password = getpass("dame pass ")

dame pass ········

In [160]:
db_name = "schema_movies"
conec = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [161]:
engine = alch.create_engine(conec)

### Importamos los datos a cada tabla de MySQL

#### Renombro nombres de columnas con espacios

In [162]:
Movie = {"Movie Name": "Movie_Name"}

In [163]:
df_movies.rename(columns=Movie, inplace=True)

In [164]:
df_movies.head()

,Catchphrase,Movie_Name,Context
0,"Beetlejuice, Beetlejuice, Beetlejuice!",BEETLEJUICE,"Lydia, summoning Beetlejuice"
1,It's showtime!,BEETLEJUICE,"Beetlejuice, being summoned."
2,They're heeeere!,POLTERGEIST,"Carol Anne Freeling, notifying her parents of..."
3,Hey you guys!,THE GOONIES,"Sloth, calling the attention of the children ..."
4,"Good morning, Vietnam!","GOOD MORNING, VIETNAM",Adrian Cronauer's greeting on his radio show

#### Tengo varias frases con apóstrofes escritos como comillas, las sustituyo para que no me las interprete como comillas.

In [165]:
def sustituye(x):
    x = str(x).replace('"', "`")
    x = str(x).replace("'", "`")
    return x

In [166]:
df_movies["Catchphrase"] = df_movies.Catchphrase.apply(sustituye)
df_movies["Movie_Name"] = df_movies.Movie_Name.apply(sustituye)
df_movies["Context"] = df_movies.Context.apply(sustituye)

In [167]:
movies_todos = list(df_movies.Movie_Name)

In [168]:
contexto = list(df_movies.Context.unique()) #reviso los valores únicos de la columna Context para comprobar si existen varios contextos diferentes para una misma película.

### Limpieza columna Movie_Name

#### Elimino el espacio que existe delante de cada palabra en la columna Movie_Name

In [169]:
movies2 = []
for p in range(len(movies_todos)):
    movies2.append(movies_todos[p].strip())

In [170]:
#movies2

In [171]:
df_movies["Movie_Name"] = movies2 #sobreescribo

In [172]:
len(df_movies.Movie_Name)

150

#### Elimino las filas que no son títulos de películas, y que se han colado por error para luego no tener problemas en SQL

In [173]:
df_movies.drop([23,25,26,127], axis=0, inplace=True)

#### Consigo valores únicos de la columna Movie_Name para poder insertarlos en la tabla de SQL

In [174]:
movies3 = list(df_movies.Movie_Name.unique())

In [185]:
len(movies3)

125

### Limpieza columna Context

In [177]:
contexto_unicos = list(df_movies.Context.unique())

In [183]:
len(contexto_unicos)

146

In [178]:
contexts2 = []
for cont in range(len(contexto_unicos)):
    contexts2.append(contexto[cont].strip())

In [179]:
df_movies["Context"] = contexts2 #sobreescribo

## INSERTO VALORES EN SQL

#### Inserto los valores de la columna Movie_Name limpios en SQL

In [186]:
## NO EJECUTAR MÁS ESTA CELDA
for movie in movies3: #itero por la lista de valores únicos que son los que quiero que se instroduzcan en la tabla de SQL
    engine.execute(f"""
    INSERT INTO movie(movie_name)
    VALUES ('{movie}');
    """)

#### Necesito los ID de las tablas "movie" y "context" de SQL para poder inlcuirla en la tabla"prhases".

In [200]:
def dameId(lista,string):
    """
    Devuelve el ID de lo que le pidamos sabiendo que ese elemento EXISTE
    """
    if lista == "movie":
        return list(engine.execute(f"SELECT IDMovie FROM movie WHERE movie_name ='{string}';"))[0][0]
    elif lista == "context":
        return list(engine.execute(f"SELECT IDContext FROM context WHERE context_name ='{string}';"))[0][0]

In [188]:
dameId("movie", "BEETLEJUICE")

89

#### Ahora voy a iterar por la lista de valores únicos de Movie_Name para que me salgan los nombres de las películas con su ID.

In [189]:
peli_id=[]
for m in movies3:
    id_movie= list((dameId("movie", m),m))
    peli_id.append(id_movie)

In [148]:
#peli_id

In [190]:
peli_id[1][1]

'POLTERGEIST'

#### Voy a iterar por la lista de "películas + ID", para que cada vez que encuentre el nombre de la película, me devuelva su ID.

In [191]:
def replace_movie_id(x):
    for mov in range(len(peli_id)):
        if x == (peli_id[mov][1]):
            return peli_id[mov][0]

#### Incluyo en mi DF la columna de id de Movie_Name

In [192]:
df_movies["peli_id"] = df_movies.Movie_Name.apply(replace_movie_id)

In [193]:
df_movies.head()

,Catchphrase,Movie_Name,Context,peli_id
0,"Beetlejuice, Beetlejuice, Beetlejuice!",BEETLEJUICE,"Lydia, summoning Beetlejuice",89
1,It`s showtime!,BEETLEJUICE,"Beetlejuice, being summoned.",89
2,They`re heeeere!,POLTERGEIST,"Carol Anne Freeling, notifying her parents of ...",90
3,Hey you guys!,THE GOONIES,"Sloth, calling the attention of the children h...",91
4,"Good morning, Vietnam!","GOOD MORNING, VIETNAM",Adrian Cronauer`s greeting on his radio show,92

### La tabla de context en SQL necesita el ID de Movie, por lo que voy a insertarla

In [196]:
#NO EJECUTAAARRRR
for _, row in df_movies.iterrows():
    engine.execute(f"""
    INSERT INTO context(context_name, Movie_IDMovie)
    VALUES ("{row['Context']}", {row['peli_id']});
    """)

#### Ahora voy a iterar por la lista de valores únicos de Context para que me salgan los contextos de cada película con su ID.

In [203]:
contexto_id=[]
for c in contexto_unicos:
    id_context = list((dameId("context", c),c))
    contexto_id.append(id_context)

IndexError: list index out of range